@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.connect .form h4, .education1 h4, .education h4, .hobby h4, .social h4, .header .header__text h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #0f141e;
  color: #d1d1d1;
  height: 100%;
}

.conteiner {
  max-width: 90%;
  margin: auto;
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.nav {
  position: sticky;
  top: 0;
  max-width: 100%;
  background-color: rgba(69, 69, 81, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.25rem;
}
.nav ul .nav__li {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-property: padding, background-color;
  transition-property: padding, background-color;
}
.nav ul .nav__li:hover {
  -webkit-transition-duration: 0.5s, 0.3s;
          transition-duration: 0.5s, 0.3s;
  padding: 20px 0px;
  background-color: #0f141e;
}
.nav ul li {
  padding: 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  text-align: center;
}

.header {
  background-color: rgba(255, 165, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .header__image {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .header__image:hover {
  -webkit-transform: scale(1.2) translateX(50%);
          transform: scale(1.2) translateX(50%);
}
.header .header__image .header__img {
  width: 12.5rem;
  padding: 5px;
}
.header .header__text {
  font-size: 1.25rem;
  text-align: center;
  margin: auto;
}
.card {
  padding: 5px;
  text-align: center;
  margin: 5px 0px;
  background-color: #192133;
}

@-webkit-keyframes link__rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes link__rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.social {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0px;
}
.social h4 {
  -webkit-animation: link__rotate 1s ease 0 1 normal forwards;
          animation: link__rotate 1s ease 0 1 normal forwards;
}

.hobby {
  font-size: 1.25rem;
}
.hobby .hobby__ul {
  list-style: none;
  margin: auto;
  display: inline-block;
}
.hobby .hobby__ul .ul {
  text-align: left;
}

.education {
  background-color: #192133;
  margin-bottom: 5px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.education h4 {
  text-align: center;
  margin-top: 2px;
}
.education .education__info {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.education .education__info .education__group {
  margin: 10px auto;
}

.education1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #192133;
}
.education1 h4 {
  text-align: center;
  margin-top: 2px;
}
.education1 .education__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.education1 .education__list .list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
.education1 .education__list .list ul {
  list-style: none;
  font-size: 1.25rem;
}
.education1 .education__list .list ul li {
  margin: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 0px;
}
.education1 .education__list .list ul li:first-child {
  background-color: #234a92;
  font-weight: bold;
}
.education1 .education__list .list ul li:hover {
  background-color: gray;
}
.education1 .education__list .list ul li:hover:first-child {
  background-color: #234a92;
}

.connect .form .form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.connect .form .form__row .name, .connect .form .form__row .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  font-size: 1.25rem;
}
.connect .form .form__row .name input, .connect .form .form__row .email input {
  font-family: inherit;
  background: transparent;
  border-bottom: 1px solid gray;
  font-size: inherit;
  color: inherit;
}
.connect .form .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 1.25rem;
  margin: 2px;
}
.connect .form .form__group textarea {
  background: transparent;
  color: inherit;
  border-bottom: 1px solid gray;
  font-size: inherit;
}
.connect .form__btn {
  font-family: inherit;
  font-size: 1.25rem;
  margin-top: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: black;
  color: #d1d1d1;
  padding: 2px;
}
.connect .form__btn:hover {
  color: orange;
}

.footer {
  background-color: rgba(209, 209, 209, 0.7);
  color: #0f141e;
  width: 100%;
  text-align: right;
  padding: 7px;
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: inherit;
  display: inline-block;
}
a:hover {
  text-decoration: underline;
  color: white;
  -webkit-animation: link__rotate 0.5s ease 0s 1 normal forwards;
          animation: link__rotate 0.5s ease 0s 1 normal forwards;
}
a:visited {
  text-decoration: none;
}

@media (max-width: 1136px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header__img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .header .header__text {
    padding-bottom: 10px;
  }
}
@media (max-width: 619px) {
  html {
    font-size: 0.5rem;
  }

  .conteiner {
    max-width: 100%;
  }

  .education {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .education1 {
    display: none;
  }

  .connect .form .form__row {
    display: block;
  }
}
@media (max-width: 346px) {
  html {
    font-size: 0.4rem;
  }
}